[submodule ".github/hooks"]
	path = .github/hooks
	url = https://github.com/jaspernbrouwer/git-flow-hooks
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/units"]
	path = thirdparty/units
	url = https://github.com/nholthaus/units
